/* .root {
    background-color: #111111;
    -fx-background-color: #111111;
}

.button {
    font-size: 60;
    -fx-font-size: 60;
    font-family: "Lucida Console";
    -fx-font-family: "Lucida Console";
    -fx-alignment: center;
} */

.backgroundPane {
      -fx-background-image: url("BackgroundPicture.png");
      -fx-background-size: cover;
      -fx-background-position: center;
      -fx-background-repeat: no-repeat;
  }